<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="assets/logo_BYS.png" />
    <title>Book Your Sport</title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
                <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
    <div navbar>
        <div class="navbar navbar-expand topnav nounderline sticky bg-#fff">
            <img src="assets/logo_BYS.png" class="images_petit" alt="" />
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <%= link_to "Accueil", root_path %>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <%= link_to "L'équipe", root_path %>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <%= link_to "A propos", root_path %>

                        <div class="right">
                            <%= link_to "Connexion",  new_user_session_path %>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <%= link_to "Inscription", new_user_registration_path %>
                        </div>
        </div>
    </div>


</header>

<body>
    <%= yield %>

</body>

</html>